html{
    scroll-behavior: smooth;
}

.body{
     align-items: center; 
    display: flex;
    flex-direction: column;
}

.mainBlock{
    display: flex;
    background-color: rgba(240, 248, 255, 0.082);
    width: 765px;
    flex-grow: 1;
    position: relative;
    margin-top: 50px;
    flex-direction: column;
    margin-bottom: 180px;
    padding-bottom: 70px;
}

.block-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Здесь первый базовый блок с названием раздела*/

.block-1__film{
    width: 95%;
    height: 25%;
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block-1__field{
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
}

.block-1__title{
    margin-bottom: -30px;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.block-1__title-film{
    text-transform: uppercase;
    font-size: 35px;
    color: #ffffff;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
}

.block-1__main-title{
    width: 30px;
    height: 30px;
    margin-bottom: 7%;
    margin-block-start: 5%;
}

.block-1__main-title-film{
    text-transform: uppercase;
    font-size: 45px;
    color: #ffffff;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
}

/* Здесь остальные одинаковые блоки */

.block-same__film{
    width: 95%;
    height: 25%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block-same__field{
    width: 95%;
    height: 60%;
    
}

.block-same__title{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.block-same__title-film{
    text-transform: uppercase;
    font-size: 35px;
    color: #ffffff;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
}

/* этот блок необходим для того, чтобы фиксированное меню не скрывало заголовок фильмов, при переходе по якорной ссылке  */

.blank{
    height: 50px;
    width: 50px;
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */


/* параметры маленьких картинок для фильмов */

.block-1__field__img{
    width: 125px;
    height: 192px;
    margin-right: 20px;
    margin-top: 20px;
    background-size: cover;
    cursor: pointer;
    box-shadow: 2.5px 2.5px 13px 2.5px #000000d2;
    transition: 0.2s all ease-in-out;
}


/* параметры для скрытого описания с данными фильма */
.block{
    width: 100%;
    height: 100%;
    background-color: rgba(189, 184, 184, 0.822);
}


.hidden{
    width: 100%;
    height: 100%;
    background-color: rgba(27, 24, 24, 0.822);
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}

.hidden-img{
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* margin-bottom: 5px; */
    margin-left: 5px;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
}

.hidden-img:last-child{
    margin-bottom: 15px;
}

/* .block-1__field__img:hover{
    box-shadow: 3px 3px 16px 3px #ffffff;
    transition: 0.5s all ease-in-out;
} */

.block-1__field__img:hover > .hidden{
    display: flex; 
}

/* .block:hover > .hidden{
    display: flex;
} */

