*{
    padding: 0;
    margin: 0;
}

.body{
    background-image: url("../images/bgMenu.png");
    position: relative;
    display: flex;
    flex-direction: column;
    
}

/* Оформление шапки сайта */
.header{
    display: flex;
    flex-direction: column;
}

.logo{
    height:240px
}


/* Оформление меню сайта */

.menu-search{
    position: fixed;
    z-index: 3;
    left:50%; 
    margin-left:-383px;
    top: 200px;
}

.menu__block1,
.menu__block1-elem,
.menu__block2-elem{
    list-style: none;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
}

.menu__block1{
    display: flex;
    justify-content: center;
}

.menu__block1-link,
.menu__block2-link{ 
    display: flex;
    background-color: rgba(150, 100, 100, 0.342);
    padding: 10px 18px 10px 18px;
    font-size: 17px;
    color: seashell;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.menu__block2-elem{
    background-color: rgba(97, 67, 67, 0.932);
}

.menu__block1-elem{
    width: 138px;
    position: relative;
    border-right: 1px solid rgb(165, 165, 165, 0.3);
}


i.fa{
    margin-right: 10%;
}

.menu__block1-elem:first-child{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.menu__block1-elem:last-child{
    border-right: 1px solid rgb(255,255, 255, 0.3);
}


.menu__block1-link:hover{
    box-shadow: 1px 8px 10px -5px #ffffff;
    transition: all 0.3s ease;
}

.menu__block2-link:hover{
    background-color: rgba(253, 252, 252, 0.411);
    box-shadow: 1px 8px 10px -5px #ffffff;
    transition: all 0.3s ease;
}

.menu__block2{
    position: absolute;
    min-width: 140px;
    display: none;
}

.menu__block2-link{
    font-size: 15px;
}

.menu__block2-elem{
    border: 1px solid rgb(255,255, 255, 0.3);
}

.menu__block1-elem:hover > .menu__block2{
    display: block;
}

/* Оформление поиска */

.menu__search{
    display: flex;
}
.menu-search{
    display: flex;
    justify-content: center;
    z-index: 2;
    
}

.menu__search input::-webkit-input-placeholder { 
    color: rgb(243, 243, 243); 
}

.menu__search-field{
    color: #ffffff;
    width: 169px;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 5px solid rgba(87, 69, 69, 0.534);
    background-color: rgba(85, 63, 63, 0.445);
}

.menu__search-submit{
    width: 30px;
    cursor: pointer;
    background-color: rgba(150, 100, 100, 0.342);
    border: none;
    color: seashell;
}

.menu__search-field:hover{
    border: 5px solid rgba(255, 255, 255, 0.945);
    transition: 0.8s ease-in-out;
    box-shadow: 2px 2px 10px 2px #eeeeee;
}

.menu__search-submit:hover{
    transition: 0.5s ease-in-out;
    font-size: 18px;
    box-shadow: 2px 2px 10px 2px #eeeeee;
}


/* Подвал главной страницы */

.footer{
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;   
    height: 130px;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%; 
}

.footer__block{
    width: 100%;
    background-color: rgba(73, 64, 52, 0.342);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__block__elem1,
.footer__block__elem2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
}

.footer__block-symbol{
    color: #ffffff;
    font-size: 20px;
    padding-left: 6px;
    padding-right: 6px;
}

.footer__block-text{
    color: #ffffff;
    font-size: 17px;
}

.footer__block-img{
    width: 50px;
    margin-right: 5px;
}

.footer__block-img:hover{
    width: 55px;
    transition: 0.4s ease-in-out;
}

/* ---------------------------------- */

